body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1rem;
    margin: 0;
    color: #ffcc00;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin:0 15px;
    border-top: 2rem solid transparent;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
    text-decoration: solid;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #80592a;
}

main h1  {
    text-align: center;
    margin: 1rem 0;
    color: #ffcc00;
}

main p {
    text-align: center;
    color: #ffcc00;
}
main h2 {
    text-align: center;
    margin: 1rem 0;
    color: #ffcc00;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: .5rem;
    margin: 1rem 0;
}

.image-grid img {
    width: 100%;
    border: 0.1rem solid  #3c4854;
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    border: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(180, 52, 43);
    font-size: 2rem;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.navigation button {
    margin: 0 1rem;
}
